<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
          <% if(products.length>0) { %>
            <ul class="list-group">
            <% products.forEach(prod => { %>
                <li class="list-group-item">
                    <%=prod.title%> 
                    Quantity = <%=prod.cartItem.quantity%>                    
                <form action="/delete-cart" method="POST">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <input type="hidden" name="productId" value="<%=prod.id%>" >
                </form>
            </li>
                <% }) %> 
            </ul>
            <!-- <h2>Total Cost in the Cart = <%= products.totalPrice %></h2> -->
        <% } else { %>
            <h2>No products in the Cart</h2>
            <% } %>
        </main>

        
        <%- include('../includes/end.ejs') %>