<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
          <% if(products.Products.length>0) { %>
            <% products.Products.forEach(prod => { %>
                <ul>
        <form action="/delete-cart" method="POST">
                <li><%=prod.title%> Quantity = <%=prod.qty%></li>
                <input type="hidden" name="productId" value="<%=prod.id%>" >
                <button type="submit" class="btn">Delete</button>
            </ul>
        </form>
                <% }) %> 
            <h2>Total Cost in the Cart = <%= products.totalPrice %></h2>
        <% } else { %>
            <h2>No products in the Cart</h2>
            <% } %>
        </main>

        
        <%- include('../includes/end.ejs') %>